SOURCES/setuptools-58.3.0.tar.gz
SOURCES/tomli-1.0.1.tar.gz
SOURCES/websocket-client-1.2.1.tar.gz
SOURCES/fence-agents-4.10.0.tar.gz
SOURCES/pyroute2.nslink-0.6.4.tar.gz
SOURCES/pyroute2.core-0.6.4.tar.gz
SOURCES/requests-oauthlib-1.3.0.tar.gz
SOURCES/six-1.16.0.tar.gz
SOURCES/awscrt-0.11.13-cp39-cp39-manylinux2014_x86_64.whl
SOURCES/botocore-1.20.102-py2.py3-none-any.whl
SOURCES/kubernetes-12.0.1.tar.gz
SOURCES/pyroute2.ipset-0.6.4.tar.gz
SOURCES/pyroute2.ndb-0.6.4.tar.gz
SOURCES/python-dateutil-2.8.2.tar.gz
SOURCES/certifi-2021.10.8.tar.gz
SOURCES/google-auth-2.3.0.tar.gz
SOURCES/portalocker-2.5.1.tar.gz
SOURCES/pyroute2.ethtool-0.6.4.tar.gz
SOURCES/rsa-4.7.2.tar.gz
SOURCES/botocore-2.0.0dev123.zip
SOURCES/charset-normalizer-2.0.7.tar.gz
SOURCES/PyYAML-5.1.tar.gz
SOURCES/colorama-0.3.3.tar.gz
SOURCES/pyroute2.nftables-0.6.4.tar.gz
SOURCES/setuptools_scm-6.3.2.tar.gz
SOURCES/Jinja2-3.0.2.tar.gz
SOURCES/MarkupSafe-2.0.1.tar.gz
SOURCES/openshift-0.12.1.tar.gz
SOURCES/pyasn1-modules-0.2.8.tar.gz
SOURCES/ruamel.yaml-0.15.100.tar.gz
SOURCES/ruamel.yaml.clib-0.2.6.tar.gz
SOURCES/awscli-2.2.15.tar.gz
SOURCES/msal-1.18.0.tar.gz
SOURCES/idna-3.3.tar.gz
SOURCES/oauthlib-3.2.2.tar.gz
SOURCES/poetry-core-1.0.7.tar.gz
SOURCES/pyparsing-3.0.1.tar.gz
SOURCES/aliyun-python-sdk-core-2.11.5.tar.gz
SOURCES/azure_mgmt_network-19.0.0-py2.py3-none-any.whl
SOURCES/pyasn1-0.4.8.tar.gz
SOURCES/pyroute2-0.6.4.tar.gz
SOURCES/pyroute2.ipdb-0.6.4.tar.gz
SOURCES/python-string-utils-1.0.0.tar.gz
SOURCES/requests-2.26.0.tar.gz
SOURCES/ruamel.yaml-0.17.16.tar.gz
SOURCES/cachetools-4.2.4.tar.gz
SOURCES/msal-extensions-1.0.0.tar.gz
SOURCES/urllib3-1.26.7.tar.gz
