SOURCES/azure_identity-1.19.0.tar.gz
SOURCES/google-auth-httplib2-0.2.0.tar.gz
SOURCES/isodate-0.6.1.tar.gz
SOURCES/pyroute2.ndb-0.6.13.tar.gz
SOURCES/certifi-2025.1.31.tar.gz
SOURCES/chardet-3.0.4.tar.gz
SOURCES/google-api-core-1.34.1.tar.gz
SOURCES/portalocker-2.10.1.tar.gz
SOURCES/pyroute2.ipset-0.6.13.tar.gz
SOURCES/azure_core-1.32.0.tar.gz
SOURCES/pyroute2.ethtool-0.6.13.tar.gz
SOURCES/aliyun-cli-3.0.198.tar.gz
SOURCES/pyasn1-0.5.1.tar.gz
SOURCES/aliyun-openapi-meta-5cf98b660.tar.gz
SOURCES/boto3-1.40.13.tar.gz
SOURCES/jmespath-0.10.0.tar.gz
SOURCES/uritemplate-3.0.1.tar.gz
SOURCES/google-api-python-client-1.12.8.tar.gz
SOURCES/httplib2-0.22.0.tar.gz
SOURCES/openshift-0.13.2.tar.gz
SOURCES/pycurl-7.45.3.tar.gz
SOURCES/pyroute2.nftables-0.6.13.tar.gz
SOURCES/cachetools-5.3.2.tar.gz
SOURCES/botocore-1.40.13.tar.gz
SOURCES/fence-agents-4.16.0.tar.gz
SOURCES/msrestazure-0.6.4.post1.tar.gz
SOURCES/poetry_core-1.9.0.tar.gz
SOURCES/suds-community-1.1.2.tar.gz
SOURCES/azure_mgmt_network-28.1.0.tar.gz
SOURCES/googleapis-common-protos-1.62.0.tar.gz
SOURCES/rsa-4.9.tar.gz
SOURCES/aliyun-cli-go-vendor.tar.gz
SOURCES/aliyun-python-sdk-core-2.14.0.tar.gz
SOURCES/kubernetes-29.0.0.tar.gz
SOURCES/msal_extensions-1.2.0.tar.gz
SOURCES/azure_mgmt_compute-34.0.0.tar.gz
SOURCES/pyjwt-2.10.1.tar.gz
SOURCES/pyroute2-0.7.12.tar.gz
SOURCES/pyroute2.core-0.6.13.tar.gz
SOURCES/pyroute2.nslink-0.6.13.tar.gz
SOURCES/s3transfer-0.13.1.tar.gz
SOURCES/adal-1.2.7.tar.gz
SOURCES/aliyun-python-sdk-ecs-4.24.71.tar.gz
SOURCES/msal-1.31.1.tar.gz
SOURCES/pyasn1_modules-0.3.0.tar.gz
SOURCES/websocket-client-1.7.0.tar.gz
SOURCES/azure_mgmt_core-1.5.0.tar.gz
SOURCES/google-auth-2.28.1.tar.gz
SOURCES/pyroute2.ipdb-0.6.13.tar.gz
SOURCES/python-string-utils-1.0.0.tar.gz
